#thank-box {
}

.thank-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.thank-container li {
    margin-right: 1em;
    display: inline-flex;
    text-align: center;
    border: 1px solid rgb(225, 225, 225);
    border-radius: .3em;
    padding: .3em .6em;
    cursor: pointer;

    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;

    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.thank-container li:hover {
    color: #fff;
}

.thank-container li i {
    width: 20px;
    height: 20px;
    margin-right: .5em;
    display: inline-block;
    background-image: url("svg/icons.svg");
}

.thank-container li a {
    font-size: 12px;
    line-height: 20px;
}

.icon-twitter {
    background-position: -5px -5px;
}

.icon-facebook {
    background-position: -40px -5px;
}

.icon-vkontakte {
    background-position: -70px -5px;
}

.icon-google {
    background-position: -100px -5px;
}

.twitter:hover {
    border-color: rgb(0, 172, 238);
    background-color: rgb(0, 172, 238);
}

.twitter:hover .icon-twitter {
    background-position: -5px -38px;
}

.facebook:hover {
    border-color: rgb(73, 101, 181);
    background-color: rgb(73, 101, 181);
}

.facebook:hover .icon-facebook {
    background-position: -40px -38px;
}

.vkontakte:hover {
    border-color: rgb(95, 131, 170);
    background-color: rgb(95, 131, 170);
}

.vkontakte:hover .icon-vkontakte {
    background-position: -70px -38px;
}

.google:hover {
    border-color: rgb(221, 75, 57);
    background-color: rgb(221, 75, 57);
}

.google:hover .icon-google {
    background-position: -100px -38px;
}